/*** GLOBAL STYLES *****/



body {
    font-family: 'Arial';
    /*
    background-image: url("images/bg.png");
    background-repeat: repeat;
    */
    background-color: #F3FCFF
}

.AddMargin{
    margin: 5px;
}
.rightAlign {
    text-align: right;
}
.midAlign {
    text-align: center;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}


/****END of global styles ****/

/* BEGINNING of Navbar Components */
.erzi {
    background-color: lightpink;
    color: blue;
}

.NavSetup {
    background-color:blue; 
}

.Txt {
    margin-right: 6px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
/* end of NavBar Components */


/* start of AuthComponents */
.AuthTitle {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 200%;
}

/* end of AuthComponents */

/* Start of Topic Preview */
.topicContent {
    word-wrap: break-word;
}
.Preview {
    background-color:#F5F5F5;
    border-radius: 10px 10px 0 0;
    margin-top:2%;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    padding: 2%;

}
.SocialShare {
    background-color: #D0D3D4;
    margin-left: 0%;
    margin-right: 0;
    padding-top:0.5%;
    padding-bottom:0.5%;
    border-radius: 0 0 10px 10px;
}

.ShareAdjust {
    margin-left: 1%;
}

.Adjust {
    margin: 1%;
    cursor: pointer;
}

/***** END of Topic preview ******/

/****** BEGINNING of Main page, side bar *******/

.CreatePost {
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    padding: 10%;
    text-align: center;
}

.Hand{
    font-size: 200%;
    font-family: 'Schoolbell', cursive;
}

/****** Begin styling the editor ******/

.wholeWrapper {
    margin-top: 2%;
    margin-bottom: 1%;


}
.toolbar{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

    border-bottom: 1px dashed grey;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    
}
.editor {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 5px 5px;
    height: 300px;
    margin-top: 0;
    background-color: white;
    padding: 2%;

    word-wrap: break-word;
}

.buttonMargin {
    margin-right: 1%;
}

.titleMargin {
    margin-top: 0;
}
.EditTitle {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 200%;
}

.Blacken {
    border-color: black;
}

.PolicyBox {
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    padding-left: 0%;
    text-align: center;
}

ol.Edit-ol {
    list-style-type: upper-roman;
}

/* END of the styles of the editor. */

/* BEGIN of the styles of the topic detail page -- pick stage */

.Detail_pick_wrapper {
    margin-top: 30px;
    
}

.Detail_Pick_Topic {
    padding-top: 15px;
    padding-left: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    background-color: #E2E2E2;
}
.Detail_pick_topic_main_wrap {
    padding-left: 20px;
    
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
    background-color: #F6F6F6;
}
.Detail_pick_wrap_me {
    text-align: center;
}
.Detail_pick_midMargin {
    display: block;
}
.Detail_pick_Topic_main {
    word-break: break-word;
    padding: 8px;
}
.Detail_Summary{
    margin: 0;
    padding: 0;
}
.Detail_Summary_Content{
    background-color: #F6F6F6 ;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    border-bottom: none;
    font-size: 30px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 30px;
}
.Detail_Summary_Content_gains {
    border-top: 1px dashed black;
    padding-top: 15px;
    padding-bottom: 30px;
}
.Detail_Summary_Action_Button{
    padding: 0;
}
.Detail_Summary_Action{
    padding-bottom: 15px;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    border-top: none;
    background-color: #F6F6F6;
}
.Detail_Oppo_Wrapper {
    
    margin: 0px;
    padding-left: 10px;
}

.Detail_Oppo_Head {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

    border-radius: 10px 10px 0 0;
    margin: 0px;
    margin-top: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-top: 15px;
    background-color:#E2E2E2;

}

.Detail_Oppo_Main_Arg {
    overflow-y: scroll;
    word-break: break-word;
    height: 400px;
}

.Detail_Oppo_Main_Arg_User {
    margin-top: 8px;
}
.Detail_Oppo_Main {
    margin: 0px;
    border-radius: 0 0 0 0;
    background-color: #F6F6F6;
    padding: 8px;

    padding-right: 0;
    padding-top: 0;
    padding-left: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.Detail_Oppo_Action {
    margin: 0px;
    background-color: #F6F6F6;
    padding: 8px;
    border-radius: 0 0 10px 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.Detail_Oppo_Action_Attitude{
    text-align: center;
}

.Detail_margin1 {
    margin-right: 3.5%;
}

.Detail_Oppo_Main_Comments {
    overflow-y: scroll;
    height: 400px;
}

.Detail_Oppo_commentArea {
    width: 100%;
    border: 1px solid black;
}
.Detail_Oppo_Main_Comment {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #DFDFDF;
    border-radius: 5px;
}